* {
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  /* -webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background: url(../img/iphone.jpg) no-repeat center top; /*fondo de ejemplo*/
    /* background-image:linear-gradient(to Left, #517f8f 0%, #0e3f50 51%); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Akshar', sans-serif; /* Tipo de fuente utilizada */
    
    height:100vh;

    /*  Quitamos los bordes  */
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}
.Contenedor-Marca{
    height: 250px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 210 255/ 25%);  
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /50%);
}
.Imagen-Marca{
    height: 100%;
    width: auto;
}

.Descripcion-Marca{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    line-height: 1.5rem;/*separacion*/
}
.Nombre-Marca{
    font-size: 1.5rem;
}
