.mt-5 {
    background: url(./img/FondoInicio.jpg) no-repeat fixed center;
    background-size: cover;
    height: 800px;

}

.hola {
    color: #fff;
    text-align: center;
    height: 270px;
    margin: 100px 10px 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(33 37 41 / 85%);
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /50%);
}

.Logo-EB {
    max-width: 100%;
    max-height: 100%;
}

.contenedor-LogoPagInicio {
    position: relative;
    text-align: center;
    top: 50px;
    height: 200px;
    width: 200px;



}