.ribbon{
    background-color: rgb(25, 25, 25);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgb(36, 36, 44) 25px, rgb(36, 36, 44) 40px);
 }

 .ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
 }

 .birthday{
    background-color: rgb(25, 25, 25);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: -20px 15px 10px rgba(27, 22, 22, 0.5);  
    border-radius: 15px 50px;
 }

 .birthday img{
    position: relative;
    margin-top: -40px;
 }

 .texto{
    color: rgb( 239, 196, 44);
 }

 .text-shadow{
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.6);
 }

 .separador-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: rgb( 239, 196, 44);
    
 }

/* .separador-ribbon .content{
    width: 150%;
    height: 50px;
    margin-left: -25%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px 20px;
 }
*/

 .card-border{
    border: solid 10px rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
 }

 .card-border:hover{
    transform: scale(1.05);
 }

 .centrando-cards{
    margin: auto;
 }

 .cuadro{
    background: rgb(255, 255, 255);
    background-image: url(/public/imagenes/hojas.png),  linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(99, 196, 255, 1) 57%);
    background-repeat: repeat-x;
    background-size: 100% auto;
    margin-top: -20px;
 }

 .titulo{
  -webkit-text-stroke: 1px rgb( 239, 196, 44);
  color: rgb( 239, 196, 44);
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
 }

 .info{
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
 }

